--
-- PostgreSQL database dump
--

\restrict wtflNXDPLME5UClJ8YhUbF8crF8WsUk297AE5f7udH3vm01VThqRVJudM38uTqZ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: create_transaction(date, text, json, json); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json) RETURNS json
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_tx_id integer;

  v_amount1 numeric;

  v_amount2 numeric;

  v_balance numeric;

BEGIN

  -- Extract amounts

  v_amount1 := (p_line1->>'amount')::numeric;

  v_amount2 := (p_line2->>'amount')::numeric;

  

  -- Validate balance before inserting anything

  v_balance := COALESCE(v_amount1, 0) + COALESCE(v_amount2, 0);

  

  IF ABS(v_balance) > 0.001 THEN

    RAISE EXCEPTION 'Transaction does not balance: line1 (%) + line2 (%) = % (must be 0)', 

      v_amount1, v_amount2, v_balance;

  END IF;



  -- Validate neither amount is null

  IF v_amount1 IS NULL OR v_amount2 IS NULL THEN

    RAISE EXCEPTION 'Both lines must have an amount';

  END IF;



  -- Insert the parent transaction (NO purpose column)

  INSERT INTO public.transactions (date, description)

  VALUES (p_date, p_description)

  RETURNING id INTO v_tx_id;



  -- Insert line 1

  INSERT INTO public.transaction_lines (

    transaction_id,

    account_id,

    amount,

    job_id,

    vendor_id,

    installer_id,

    real_estate_deal_id,

    lead_source_id,

    purpose,

    is_cleared

  ) VALUES (

    v_tx_id,

    (p_line1->>'account_id')::integer,

    v_amount1,

    NULLIF(p_line1->>'job_id', '')::integer,

    NULLIF(p_line1->>'vendor_id', '')::integer,

    NULLIF(p_line1->>'installer_id', '')::integer,

    NULLIF(p_line1->>'real_estate_deal_id', '')::integer,

    NULLIF(p_line1->>'lead_source_id', '')::integer,

    COALESCE(p_line1->>'purpose', 'business'),

    COALESCE((p_line1->>'is_cleared')::boolean, false)

  );



  -- Insert line 2

  INSERT INTO public.transaction_lines (

    transaction_id,

    account_id,

    amount,

    job_id,

    vendor_id,

    installer_id,

    real_estate_deal_id,

    lead_source_id,

    purpose,

    is_cleared

  ) VALUES (

    v_tx_id,

    (p_line2->>'account_id')::integer,

    v_amount2,

    NULLIF(p_line2->>'job_id', '')::integer,

    NULLIF(p_line2->>'vendor_id', '')::integer,

    NULLIF(p_line2->>'installer_id', '')::integer,

    NULLIF(p_line2->>'real_estate_deal_id', '')::integer,

    NULLIF(p_line2->>'lead_source_id', '')::integer,

    COALESCE(p_line2->>'purpose', 'business'),

    COALESCE((p_line2->>'is_cleared')::boolean, false)

  );



  -- Return result (no purpose in return since it's per-line now)

  RETURN json_build_object(

    'transaction_id', v_tx_id,

    'date', p_date

  );

END;

$$;


ALTER FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json) OWNER TO postgres;

--
-- Name: create_transaction(date, text, json, json, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json, p_purpose text) RETURNS json
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_tx_id integer;

  v_amount1 numeric;

  v_amount2 numeric;

  v_balance numeric;

BEGIN

  -- Extract amounts

  v_amount1 := (p_line1->>'amount')::numeric;

  v_amount2 := (p_line2->>'amount')::numeric;

  

  -- Validate balance before inserting anything

  v_balance := COALESCE(v_amount1, 0) + COALESCE(v_amount2, 0);

  

  IF ABS(v_balance) > 0.001 THEN

    RAISE EXCEPTION 'Transaction does not balance: line1 (%) + line2 (%) = % (must be 0)', 

      v_amount1, v_amount2, v_balance;

  END IF;



  -- Validate neither amount is null

  IF v_amount1 IS NULL OR v_amount2 IS NULL THEN

    RAISE EXCEPTION 'Both lines must have an amount';

  END IF;



  -- Insert the parent transaction (purpose is on lines, not here)

  INSERT INTO public.transactions (date, description)

  VALUES (p_date, p_description)

  RETURNING id INTO v_tx_id;



  -- Insert line 1

  INSERT INTO public.transaction_lines (

    transaction_id, account_id, amount, job_id, vendor_id, installer_id, real_estate_deal_id, purpose, is_cleared

  )

  VALUES (

    v_tx_id,

    (p_line1->>'account_id')::integer,

    v_amount1,

    (p_line1->>'job_id')::integer,

    (p_line1->>'vendor_id')::integer,

    (p_line1->>'installer_id')::integer,

    (p_line1->>'real_estate_deal_id')::integer,

    COALESCE(p_line1->>'purpose', p_purpose),

    COALESCE((p_line1->>'is_cleared')::boolean, false)

  );



  -- Insert line 2

  INSERT INTO public.transaction_lines (

    transaction_id, account_id, amount, job_id, vendor_id, installer_id, real_estate_deal_id, purpose, is_cleared

  )

  VALUES (

    v_tx_id,

    (p_line2->>'account_id')::integer,

    v_amount2,

    (p_line2->>'job_id')::integer,

    (p_line2->>'vendor_id')::integer,

    (p_line2->>'installer_id')::integer,

    (p_line2->>'real_estate_deal_id')::integer,

    COALESCE(p_line2->>'purpose', p_purpose),

    COALESCE((p_line2->>'is_cleared')::boolean, false)

  );



  RETURN json_build_object('transaction_id', v_tx_id);

END;

$$;


ALTER FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json, p_purpose text) OWNER TO postgres;

--
-- Name: create_transaction_multi(date, text, jsonb); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_transaction_multi(p_date date, p_description text, p_lines jsonb) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_tx_id integer;

  v_line_count integer;

  v_balance numeric;

BEGIN

  -- Validate p_lines is an array

  IF jsonb_typeof(p_lines) <> 'array' THEN

    RAISE EXCEPTION 'p_lines must be a JSON array of line objects';

  END IF;



  -- Validate at least 2 lines (double-entry minimum)

  v_line_count := jsonb_array_length(p_lines);

  IF v_line_count < 2 THEN

    RAISE EXCEPTION 'Transaction must have at least 2 lines, got %', v_line_count;

  END IF;



  -- Pre-validate that lines will balance before inserting anything

  SELECT SUM((line->>'amount')::numeric)

  INTO v_balance

  FROM jsonb_array_elements(p_lines) AS line;



  IF v_balance IS NULL OR ABS(v_balance) > 0.001 THEN

    RAISE EXCEPTION 'Transaction does not balance: sum of amounts = % (must be 0)', COALESCE(v_balance, 0);

  END IF;



  -- Insert transaction header (NO purpose column)

  INSERT INTO transactions (date, description)

  VALUES (p_date, p_description)

  RETURNING id INTO v_tx_id;



  -- Insert all lines

  INSERT INTO transaction_lines (

    transaction_id,

    account_id,

    amount,

    job_id,

    vendor_id,

    installer_id,

    real_estate_deal_id,

    lead_source_id,

    purpose,

    is_cleared

  )

  SELECT

    v_tx_id,

    (line->>'account_id')::integer,

    (line->>'amount')::numeric,

    NULLIF(line->>'job_id', '')::integer,

    NULLIF(line->>'vendor_id', '')::integer,

    NULLIF(line->>'installer_id', '')::integer,

    NULLIF(line->>'real_estate_deal_id', '')::integer,

    NULLIF(line->>'lead_source_id', '')::integer,

    COALESCE(line->>'purpose', 'business'),

    COALESCE((line->>'is_cleared')::boolean, false)

  FROM jsonb_array_elements(p_lines) AS line;



  RETURN v_tx_id;

END;

$$;


ALTER FUNCTION public.create_transaction_multi(p_date date, p_description text, p_lines jsonb) OWNER TO postgres;

--
-- Name: create_transaction_multi(date, text, text, jsonb); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_transaction_multi(p_date date, p_description text, p_purpose text, p_lines jsonb) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_tx_id integer;

  v_line_count integer;

  v_balance numeric;

BEGIN

  -- Validate p_lines is an array

  IF jsonb_typeof(p_lines) <> 'array' THEN

    RAISE EXCEPTION 'p_lines must be a JSON array of line objects';

  END IF;



  -- Validate at least 2 lines

  v_line_count := jsonb_array_length(p_lines);

  IF v_line_count < 2 THEN

    RAISE EXCEPTION 'Transaction must have at least 2 lines, got %', v_line_count;

  END IF;



  -- Pre-validate balance

  SELECT SUM((line->>'amount')::numeric)

  INTO v_balance

  FROM jsonb_array_elements(p_lines) AS line;



  IF v_balance IS NULL OR ABS(v_balance) > 0.001 THEN

    RAISE EXCEPTION 'Transaction does not balance: sum = %', COALESCE(v_balance, 0);

  END IF;



  -- Insert transaction header (without purpose)

  INSERT INTO transactions (date, description)

  VALUES (p_date, p_description)

  RETURNING id INTO v_tx_id;



  -- Insert all lines (purpose is on lines, not header)

  INSERT INTO transaction_lines (

    transaction_id, account_id, amount, job_id, vendor_id, installer_id,

    real_estate_deal_id, purpose, is_cleared

  )

  SELECT

    v_tx_id,

    (line->>'account_id')::integer,

    (line->>'amount')::numeric,

    (line->>'job_id')::integer,

    (line->>'vendor_id')::integer,

    (line->>'installer_id')::integer,

    (line->>'real_estate_deal_id')::integer,

    COALESCE(line->>'purpose', p_purpose),

    COALESCE((line->>'is_cleared')::boolean, false)

  FROM jsonb_array_elements(p_lines) AS line;



  RETURN v_tx_id;

END;

$$;


ALTER FUNCTION public.create_transaction_multi(p_date date, p_description text, p_purpose text, p_lines jsonb) OWNER TO postgres;

--
-- Name: delete_transaction(bigint); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.delete_transaction(p_transaction_id bigint) RETURNS json
    LANGUAGE plpgsql
    AS $$

DECLARE

  deleted_lines integer;

  deleted_tx integer;

BEGIN

  -- Delete all lines for this transaction

  DELETE FROM public.transaction_lines

  WHERE transaction_id = p_transaction_id;

  GET DIAGNOSTICS deleted_lines = ROW_COUNT;



  -- Delete the transaction header

  DELETE FROM public.transactions

  WHERE id = p_transaction_id;

  GET DIAGNOSTICS deleted_tx = ROW_COUNT;



  RETURN json_build_object(

    'status', 'ok',

    'transaction_id', p_transaction_id,

    'deleted_lines', deleted_lines,

    'deleted_transactions', deleted_tx

  );

END;

$$;


ALTER FUNCTION public.delete_transaction(p_transaction_id bigint) OWNER TO postgres;

--
-- Name: insert_job_tx(integer, date, text, text, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insert_job_tx(p_job_id integer, p_date date, p_desc text, p_kind text, p_amount numeric) RETURNS void
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_tx_id                    integer;



  -- Core accounts

  v_cash_account_id          integer := 1;   -- bank / default cash

  v_income_account_id        integer := 11;  -- Income - Job

  v_material_expense_acct_id integer := 15;  -- Job Materials

  v_labor_expense_acct_id    integer := 14;  -- Job Labor

  v_service_expense_acct_id  integer := 22;  -- Job Services (S)



  v_category_account_id integer;

  v_cat_amount          numeric;

  v_cash_amount         numeric;



  v_vendor_id    integer := NULL;

  v_installer_id integer := NULL;



  v_desc_clean text;

BEGIN

  -------------------------------------------------------------------

  -- 1) Clean description (ignore "BCC")

  -------------------------------------------------------------------

  v_desc_clean := replace(p_desc, 'BCC', '');

  v_desc_clean := btrim(v_desc_clean);



  -------------------------------------------------------------------

  -- 2) Pick category account

  -------------------------------------------------------------------

  IF p_kind = 'income' THEN

    v_category_account_id := v_income_account_id;



  ELSIF p_kind = 'material' THEN

    v_category_account_id := v_material_expense_acct_id;



  ELSIF p_kind = 'labor' THEN

    v_category_account_id := v_labor_expense_acct_id;



  ELSIF p_kind = 'service' THEN

    v_category_account_id := v_service_expense_acct_id;



  ELSE

    RAISE EXCEPTION 'Unsupported p_kind: %', p_kind;

  END IF;



  -------------------------------------------------------------------

  -- 3) Auto-detect installer/vendor

  --    (based on your full installer + vendor lists)

  -------------------------------------------------------------------

  IF p_kind = 'labor' THEN

    -- Installers by first_name

    IF    v_desc_clean ILIKE '%amauri%'    THEN v_installer_id := 1;

    ELSIF v_desc_clean ILIKE '%marcus%'    THEN v_installer_id := 5;

    ELSIF v_desc_clean ILIKE '%maria%'     THEN v_installer_id := 6;

    ELSIF v_desc_clean ILIKE '%kadu%'      THEN v_installer_id := 7;

    ELSIF v_desc_clean ILIKE '%jhonatha%'  THEN v_installer_id := 8;

    ELSIF v_desc_clean ILIKE '%misa%'      THEN v_installer_id := 9;

    ELSIF v_desc_clean ILIKE '%warley%'    THEN v_installer_id := 10;

    ELSIF v_desc_clean ILIKE '%julio%'     THEN v_installer_id := 11;

    ELSIF v_desc_clean ILIKE '%mitch%'     THEN v_installer_id := 12;

    ELSIF v_desc_clean ILIKE '%fernando%'  THEN v_installer_id := 13;

    ELSIF v_desc_clean ILIKE '%bruno%'     THEN v_installer_id := 14;

    ELSIF v_desc_clean ILIKE '%lucas%'     THEN v_installer_id := 15;

    ELSIF v_desc_clean ILIKE '%luizinho%'  THEN v_installer_id := 16;

    ELSIF v_desc_clean ILIKE '%adriano%'   THEN v_installer_id := 17;

    ELSIF v_desc_clean ILIKE '%ricky%'     THEN v_installer_id := 18;

    ELSIF v_desc_clean ILIKE '%steve%'     THEN v_installer_id := 19;

    ELSIF v_desc_clean ILIKE '%marcos%'    THEN v_installer_id := 20;

    ELSIF v_desc_clean ILIKE '%cleidvaldo%' THEN v_installer_id := 2;

    ELSIF v_desc_clean ILIKE '%emerson%'   THEN v_installer_id := 3;

    ELSIF v_desc_clean ILIKE '%gleison%'   THEN v_installer_id := 4;

    END IF;



  ELSIF p_kind = 'material' OR p_kind = 'service' THEN

    -- Vendors by nick_name keyword

    IF    v_desc_clean ILIKE '%ypf%' OR v_desc_clean ILIKE '%your perfect floors%' THEN

      v_vendor_id := 1;   -- YPF

    ELSIF v_desc_clean ILIKE '%faf%' THEN

      v_vendor_id := 2;   -- FAF

    ELSIF v_desc_clean ILIKE '%gapro%' THEN

      v_vendor_id := 3;   -- GAPRO

    ELSIF v_desc_clean ILIKE '%hd%' OR v_desc_clean ILIKE '%home depot%' THEN

      v_vendor_id := 4;   -- HD

    ELSIF v_desc_clean ILIKE '%nstyle%' THEN

      v_vendor_id := 5;   -- NStyle

    ELSIF v_desc_clean ILIKE '%prolex%' THEN

      v_vendor_id := 6;   -- Prolex

    ELSIF v_desc_clean ILIKE '%dw%' OR v_desc_clean ILIKE '%dream weaver%' THEN

      v_vendor_id := 9;   -- DW

    ELSIF v_desc_clean ILIKE '%ddcc%' THEN

      v_vendor_id := 8;   -- DDCC

    ELSIF v_desc_clean ILIKE '%bestfit%' THEN

      v_vendor_id := 10;  -- BestFit

    ELSIF v_desc_clean ILIKE '%b2b%' THEN

      v_vendor_id := 11;  -- B2B

    ELSIF v_desc_clean ILIKE '%stairworx%' THEN

      v_vendor_id := 12;  -- StairWorx

    ELSIF v_desc_clean ILIKE '%sherwin%' THEN

      v_vendor_id := 13;  -- Sherwin

    ELSIF v_desc_clean ILIKE '%lowes%' THEN

      v_vendor_id := 14;  -- Lowes

    ELSIF v_desc_clean ILIKE '%relative%' THEN

      v_vendor_id := 15;  -- Relative Floor Worx

    ELSIF v_desc_clean ILIKE '%discount%' THEN

      v_vendor_id := 16;  -- DiscountF

    ELSIF v_desc_clean ILIKE '%southern stair%' THEN

      v_vendor_id := 17;  -- Southern Stair

    ELSIF v_desc_clean ILIKE '%llflooring%' OR v_desc_clean ILIKE '%lumber liquidators%' THEN

      v_vendor_id := 18;  -- LLFlooring

    ELSIF v_desc_clean ILIKE '%ndm%' THEN

      v_vendor_id := 19;  -- NDM

    ELSIF v_desc_clean ILIKE '%f&d%' OR v_desc_clean ILIKE '%floor & decor%' THEN

      v_vendor_id := 7;   -- F&D

    ELSIF v_desc_clean ILIKE '%matk%' OR v_desc_clean ILIKE '%dumpster%' THEN

      v_vendor_id := 20;  -- MATK (and Dumpster default)

    END IF;

  END IF;



  -------------------------------------------------------------------

  -- 4) Double-entry logic

  -------------------------------------------------------------------

  IF p_kind = 'income' THEN

    IF p_amount <= 0 THEN

      RAISE EXCEPTION 'Income amount must be positive, got %', p_amount;

    END IF;



    v_cat_amount  := -ABS(p_amount);   -- income account negative

    v_cash_amount :=  ABS(p_amount);   -- cash positive



  ELSE

    IF p_amount < 0 THEN

      -- normal expense

      v_cat_amount  :=  ABS(p_amount);  -- expense +

      v_cash_amount := -ABS(p_amount);  -- cash -

    ELSE

      -- credit / refund

      v_cat_amount  := -ABS(p_amount);  -- reduce expense

      v_cash_amount :=  ABS(p_amount);  -- cash +

    END IF;

  END IF;



  -------------------------------------------------------------------

  -- 5) Insert transaction header

  -------------------------------------------------------------------

  INSERT INTO transactions (date, description)

  VALUES (p_date, v_desc_clean)

  RETURNING id INTO v_tx_id;



  -------------------------------------------------------------------

  -- 6) Category side

  -------------------------------------------------------------------

  INSERT INTO transaction_lines (

    transaction_id,

    account_id,

    amount,

    job_id,

    purpose,

    is_cleared,

    vendor_id,

    installer_id

  ) VALUES (

    v_tx_id,

    v_category_account_id,

    v_cat_amount,

    p_job_id,

    'business',

    true,

    v_vendor_id,

    v_installer_id

  );



  -------------------------------------------------------------------

  -- 7) Cash side

  -------------------------------------------------------------------

  INSERT INTO transaction_lines (

    transaction_id,

    account_id,

    amount,

    job_id,

    purpose,

    is_cleared

  ) VALUES (

    v_tx_id,

    v_cash_account_id,

    v_cash_amount,

    p_job_id,

    'business',

    true

  );

END;

$$;


ALTER FUNCTION public.insert_job_tx(p_job_id integer, p_date date, p_desc text, p_kind text, p_amount numeric) OWNER TO postgres;

--
-- Name: mark_transaction_cleared(integer, integer, numeric, date, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.mark_transaction_cleared(p_transaction_id integer, p_clicked_line_id integer, p_new_amount numeric, p_new_date date DEFAULT NULL::date, p_new_description text DEFAULT NULL::text) RETURNS json
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

declare

  v_tx            public.transactions%rowtype;

  v_clicked_line  public.transaction_lines%rowtype;

begin

  -- 1) Update the parent transaction (date/description if provided) and ALWAYS bump updated_at

  update public.transactions t

  set

    date        = coalesce(p_new_date, t.date),

    description = coalesce(p_new_description, t.description),

    updated_at  = now()

  where t.id = p_transaction_id

  returning * into v_tx;



  -- 2) Update the clicked line: adjust amount if provided + clear it

  update public.transaction_lines l

  set

    amount     = coalesce(p_new_amount, l.amount),

    is_cleared = true

  where l.id = p_clicked_line_id

  returning * into v_clicked_line;



  -- 3) Clear ALL other lines in the same transaction (no amount change)

  update public.transaction_lines l

  set

    is_cleared = true

  where l.transaction_id = p_transaction_id

    and l.id <> p_clicked_line_id;



  -- 4) Return the transaction + the clicked line (for debugging/UI if needed)

  return json_build_object(

    'transaction', row_to_json(v_tx),

    'clicked_line', row_to_json(v_clicked_line)

  );

end;

$$;


ALTER FUNCTION public.mark_transaction_cleared(p_transaction_id integer, p_clicked_line_id integer, p_new_amount numeric, p_new_date date, p_new_description text) OWNER TO postgres;

--
-- Name: refresh_accounting_views(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.refresh_accounting_views() RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

  -- No-op: live views update automatically from base tables.

  RETURN;

END;

$$;


ALTER FUNCTION public.refresh_accounting_views() OWNER TO postgres;

--
-- Name: resolve_lead_source_id(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.resolve_lead_source_id(p_lead text) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_id integer;

BEGIN

  SELECT id

  INTO v_id

  FROM lead_sources

  WHERE nick_name ILIKE p_lead

     OR name ILIKE p_lead

  ORDER BY id

  LIMIT 1;



  IF v_id IS NULL THEN

    RAISE EXCEPTION 'Lead source not found for: %', p_lead;

  END IF;



  RETURN v_id;

END;

$$;


ALTER FUNCTION public.resolve_lead_source_id(p_lead text) OWNER TO postgres;

--
-- Name: update_transaction_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_transaction_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  -- Update the parent transaction's updated_at when any line changes

  UPDATE transactions 

  SET updated_at = now() 

  WHERE id = NEW.transaction_id;

  

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_transaction_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_types (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    normal_side character varying(6) NOT NULL
);


ALTER TABLE public.account_types OWNER TO postgres;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20),
    account_type_id integer NOT NULL,
    is_active boolean DEFAULT true,
    purpose_default text DEFAULT 'business'::text,
    CONSTRAINT accounts_purpose_default_check CHECK ((purpose_default = ANY (ARRAY['business'::text, 'personal'::text, 'mixed'::text])))
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: transaction_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaction_lines (
    id integer NOT NULL,
    transaction_id integer NOT NULL,
    account_id integer NOT NULL,
    amount numeric(12,2) NOT NULL,
    job_id integer,
    installer_id integer,
    vendor_id integer,
    purpose character varying(20) DEFAULT 'business'::character varying NOT NULL,
    is_cleared boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    lead_source_id integer,
    real_estate_deal_id integer,
    rehab_category_id integer,
    cost_type character varying(1),
    CONSTRAINT check_reasonable_amount CHECK ((abs(amount) < (10000000)::numeric)),
    CONSTRAINT purpose_chk CHECK (((purpose)::text = ANY ((ARRAY['business'::character varying, 'personal'::character varying, 'mixed'::character varying])::text[]))),
    CONSTRAINT transaction_lines_cost_type_check CHECK (((cost_type)::text = ANY ((ARRAY['L'::character varying, 'M'::character varying, 'S'::character varying])::text[])))
);


ALTER TABLE public.transaction_lines OWNER TO postgres;

--
-- Name: COLUMN transaction_lines.cost_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.transaction_lines.cost_type IS 'L=Labor, M=Material, S=Service/Other';


--
-- Name: CONSTRAINT check_reasonable_amount ON transaction_lines; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON CONSTRAINT check_reasonable_amount ON public.transaction_lines IS 'Prevents accidentally entering absurdly large amounts like $10,000,000 when you meant $1,000';


--
-- Name: account_balances_v; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.account_balances_v AS
 SELECT a.id AS account_id,
    a.name AS account_name,
    a.code AS account_code,
    at.name AS account_type,
    COALESCE(sum(
        CASE
            WHEN (lower((at.normal_side)::text) = 'debit'::text) THEN tl.amount
            ELSE (- tl.amount)
        END), (0)::numeric) AS balance
   FROM ((public.accounts a
     JOIN public.account_types at ON ((at.id = a.account_type_id)))
     LEFT JOIN public.transaction_lines tl ON ((tl.account_id = a.id)))
  GROUP BY a.id, a.name, a.code, at.name, at.normal_side
  ORDER BY a.id;


ALTER VIEW public.account_balances_v OWNER TO postgres;

--
-- Name: account_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.account_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.account_types_id_seq OWNER TO postgres;

--
-- Name: account_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.account_types_id_seq OWNED BY public.account_types.id;


--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_id_seq OWNER TO postgres;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    date date NOT NULL,
    description character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT check_reasonable_date CHECK (((date >= '2000-01-01'::date) AND (date <= (CURRENT_DATE + '1 year'::interval))))
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: CONSTRAINT check_reasonable_date ON transactions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON CONSTRAINT check_reasonable_date ON public.transactions IS 'Prevents dates before year 2000 or more than 1 year in the future';


--
-- Name: dashboard_last_30d; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.dashboard_last_30d AS
 SELECT sum(
        CASE
            WHEN ((at.name)::text = 'income'::text) THEN (- tl.amount)
            ELSE (0)::numeric
        END) AS income_30d,
    sum(
        CASE
            WHEN ((at.name)::text = 'expense'::text) THEN tl.amount
            ELSE (0)::numeric
        END) AS expense_30d,
    sum(
        CASE
            WHEN ((at.name)::text = 'income'::text) THEN (- tl.amount)
            WHEN ((at.name)::text = 'expense'::text) THEN tl.amount
            ELSE (0)::numeric
        END) AS profit_30d
   FROM (((public.transaction_lines tl
     JOIN public.accounts a ON ((tl.account_id = a.id)))
     JOIN public.account_types at ON ((a.account_type_id = at.id)))
     JOIN public.transactions t ON ((tl.transaction_id = t.id)))
  WHERE (t.date >= (CURRENT_DATE - '30 days'::interval));


ALTER VIEW public.dashboard_last_30d OWNER TO postgres;

--
-- Name: deal_budget_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deal_budget_items (
    id integer NOT NULL,
    deal_id integer NOT NULL,
    rehab_category_id integer NOT NULL,
    budget_amount numeric(12,2) DEFAULT 0,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.deal_budget_items OWNER TO postgres;

--
-- Name: TABLE deal_budget_items; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.deal_budget_items IS 'Budget line items per rehab category for each flip deal';


--
-- Name: deal_budget_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.deal_budget_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.deal_budget_items_id_seq OWNER TO postgres;

--
-- Name: deal_budget_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.deal_budget_items_id_seq OWNED BY public.deal_budget_items.id;


--
-- Name: installers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installers (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100),
    company_name character varying(150),
    address text,
    tax_id character varying(50),
    phone character varying(50),
    email character varying(150),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.installers OWNER TO postgres;

--
-- Name: installer_payments_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.installer_payments_view AS
 SELECT i.id AS installer_id,
    COALESCE(sum(tl.amount), (0)::numeric) AS ytd_cleared
   FROM ((public.installers i
     LEFT JOIN public.transaction_lines tl ON (((tl.installer_id = i.id) AND (tl.is_cleared = true))))
     LEFT JOIN public.transactions t ON (((t.id = tl.transaction_id) AND (date_part('year'::text, t.date) = date_part('year'::text, CURRENT_DATE)))))
  GROUP BY i.id;


ALTER VIEW public.installer_payments_view OWNER TO postgres;

--
-- Name: installers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.installers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.installers_id_seq OWNER TO postgres;

--
-- Name: installers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.installers_id_seq OWNED BY public.installers.id;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    address character varying(255),
    status character varying(20) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    lead_source_id integer,
    start_date date DEFAULT CURRENT_DATE,
    end_date date
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO postgres;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: lead_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_sources (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    nick_name character varying,
    marketing_account_id integer
);


ALTER TABLE public.lead_sources OWNER TO postgres;

--
-- Name: COLUMN lead_sources.nick_name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lead_sources.nick_name IS 'Lead Source Abbreviation';


--
-- Name: lead_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lead_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lead_sources_id_seq OWNER TO postgres;

--
-- Name: lead_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lead_sources_id_seq OWNED BY public.lead_sources.id;


--
-- Name: vendors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendors (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    contact_name character varying(150),
    address text,
    tax_id character varying(50),
    phone character varying(50),
    email character varying(150),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    nick_name character varying
);


ALTER TABLE public.vendors OWNER TO postgres;

--
-- Name: COLUMN vendors.nick_name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.vendors.nick_name IS 'Vendor Abbreviation';


--
-- Name: ledger_full_v; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.ledger_full_v AS
 SELECT t.id AS transaction_id,
    t.date,
    min(tl.created_at) AS created_at,
    max(tl.created_at) AS updated_at,
    t.description,
    COALESCE(( SELECT (((i.first_name)::text || ' '::text) || (COALESCE(i.last_name, ''::character varying))::text)
           FROM (public.transaction_lines tl_i
             JOIN public.installers i ON ((i.id = tl_i.installer_id)))
          WHERE (tl_i.transaction_id = t.id)
          ORDER BY tl_i.id
         LIMIT 1), (( SELECT v.nick_name
           FROM (public.transaction_lines tl_v
             JOIN public.vendors v ON ((v.id = tl_v.vendor_id)))
          WHERE (tl_v.transaction_id = t.id)
          ORDER BY tl_v.id
         LIMIT 1))::text, ''::text) AS vendor_installer,
    ( SELECT a.name
           FROM ((public.transaction_lines tl_c
             JOIN public.accounts a ON ((a.id = tl_c.account_id)))
             JOIN public.account_types at_c ON ((at_c.id = a.account_type_id)))
          WHERE ((tl_c.transaction_id = t.id) AND ((at_c.name)::text = ANY ((ARRAY['asset'::character varying, 'liability'::character varying])::text[])))
          ORDER BY (abs(tl_c.amount)) DESC, tl_c.id
         LIMIT 1) AS cash_account,
    ( SELECT a.name
           FROM ((public.transaction_lines tl_e
             JOIN public.accounts a ON ((a.id = tl_e.account_id)))
             JOIN public.account_types at_e ON ((at_e.id = a.account_type_id)))
          WHERE ((tl_e.transaction_id = t.id) AND ((at_e.name)::text = ANY ((ARRAY['income'::character varying, 'expense'::character varying])::text[])))
          ORDER BY (abs(tl_e.amount)) DESC, tl_e.id
         LIMIT 1) AS type_label,
    COALESCE(( SELECT abs(tl_c.amount) AS abs
           FROM ((public.transaction_lines tl_c
             JOIN public.accounts a ON ((a.id = tl_c.account_id)))
             JOIN public.account_types at_c ON ((at_c.id = a.account_type_id)))
          WHERE ((tl_c.transaction_id = t.id) AND ((at_c.name)::text = ANY ((ARRAY['asset'::character varying, 'liability'::character varying])::text[])))
          ORDER BY (abs(tl_c.amount)) DESC, tl_c.id
         LIMIT 1), (0)::numeric) AS amount,
    (NOT (EXISTS ( SELECT 1
           FROM public.transaction_lines tl_u
          WHERE ((tl_u.transaction_id = t.id) AND (tl_u.is_cleared = false))))) AS is_cleared
   FROM (public.transactions t
     JOIN public.transaction_lines tl ON ((tl.transaction_id = t.id)))
  GROUP BY t.id, t.date, t.description;


ALTER VIEW public.ledger_full_v OWNER TO postgres;

--
-- Name: pending_transactions_v; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.pending_transactions_v AS
 SELECT tl.id AS line_id,
    tl.transaction_id,
    tl.account_id,
    tl.amount,
    tl.purpose,
    a.name AS account_name,
    a.code AS account_code,
    at.name AS account_type,
    t.date AS transaction_date,
    t.description,
    t.updated_at,
    j.name AS job_name
   FROM ((((public.transaction_lines tl
     JOIN public.accounts a ON ((a.id = tl.account_id)))
     JOIN public.account_types at ON ((at.id = a.account_type_id)))
     JOIN public.transactions t ON ((t.id = tl.transaction_id)))
     LEFT JOIN public.jobs j ON ((j.id = tl.job_id)))
  WHERE ((tl.is_cleared = false) AND ((at.name)::text = ANY ((ARRAY['asset'::character varying, 'liability'::character varying])::text[])))
  ORDER BY t.date DESC, t.id DESC, tl.id DESC;


ALTER VIEW public.pending_transactions_v OWNER TO postgres;

--
-- Name: real_estate_deals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.real_estate_deals (
    id integer NOT NULL,
    type text NOT NULL,
    nickname text NOT NULL,
    address text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    purchase_price numeric(12,2),
    arv numeric(12,2),
    rehab_budget numeric(12,2),
    rehab_spent numeric(12,2),
    closing_costs_estimate numeric(12,2),
    sale_price numeric(12,2),
    expected_assignment_fee numeric(12,2),
    actual_assignment_fee numeric(12,2),
    rental_monthly_rent numeric(12,2),
    rental_monthly_mortgage numeric(12,2),
    rental_monthly_taxes numeric(12,2),
    rental_monthly_insurance numeric(12,2),
    rental_monthly_hoa numeric(12,2),
    offer_strategy_json jsonb,
    notes text,
    start_date date,
    close_date date,
    sell_date date,
    job_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    asset_account_id integer,
    loan_account_id integer,
    interest_rate numeric(5,3),
    loan_term_months integer,
    original_loan_amount numeric(12,2),
    first_payment_date date,
    CONSTRAINT real_estate_deals_status_check CHECK ((status = ANY (ARRAY['active'::text, 'in_contract'::text, 'rehab'::text, 'stabilized'::text, 'sold'::text, 'failed'::text]))),
    CONSTRAINT real_estate_deals_type_check CHECK ((type = ANY (ARRAY['rental'::text, 'flip'::text, 'wholesale'::text])))
);


ALTER TABLE public.real_estate_deals OWNER TO postgres;

--
-- Name: real_estate_deals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.real_estate_deals ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.real_estate_deals_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rehab_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rehab_categories (
    id integer NOT NULL,
    code character varying(10) NOT NULL,
    name character varying(100) NOT NULL,
    category_group character varying(50) NOT NULL,
    sort_order integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rehab_categories OWNER TO postgres;

--
-- Name: TABLE rehab_categories; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.rehab_categories IS 'Lookup table for flip rehab expense categories (ROOF, PLRF, etc.)';


--
-- Name: rehab_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rehab_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rehab_categories_id_seq OWNER TO postgres;

--
-- Name: rehab_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rehab_categories_id_seq OWNED BY public.rehab_categories.id;


--
-- Name: transaction_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transaction_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transaction_lines_id_seq OWNER TO postgres;

--
-- Name: transaction_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transaction_lines_id_seq OWNED BY public.transaction_lines.id;


--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO postgres;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: vendors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vendors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vendors_id_seq OWNER TO postgres;

--
-- Name: vendors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vendors_id_seq OWNED BY public.vendors.id;


--
-- Name: ytd_expense_v; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.ytd_expense_v AS
 SELECT (EXTRACT(year FROM t.date))::integer AS year,
        CASE
            WHEN ((tl.purpose)::text = 'personal'::text) THEN 'Personal'::text
            WHEN ((r.id IS NOT NULL) AND (r.type = 'rental'::text)) THEN 'Rental Operations'::text
            ELSE 'Contracting Business'::text
        END AS expense_segment,
    sum(abs(tl.amount)) AS total_expense
   FROM ((((public.transaction_lines tl
     JOIN public.transactions t ON ((t.id = tl.transaction_id)))
     JOIN public.accounts a ON ((a.id = tl.account_id)))
     JOIN public.account_types at ON ((at.id = a.account_type_id)))
     LEFT JOIN public.real_estate_deals r ON ((r.id = tl.real_estate_deal_id)))
  WHERE ((at.name)::text = 'expense'::text)
  GROUP BY (EXTRACT(year FROM t.date)),
        CASE
            WHEN ((tl.purpose)::text = 'personal'::text) THEN 'Personal'::text
            WHEN ((r.id IS NOT NULL) AND (r.type = 'rental'::text)) THEN 'Rental Operations'::text
            ELSE 'Contracting Business'::text
        END
  ORDER BY ((EXTRACT(year FROM t.date))::integer),
        CASE
            WHEN ((tl.purpose)::text = 'personal'::text) THEN 'Personal'::text
            WHEN ((r.id IS NOT NULL) AND (r.type = 'rental'::text)) THEN 'Rental Operations'::text
            ELSE 'Contracting Business'::text
        END;


ALTER VIEW public.ytd_expense_v OWNER TO postgres;

--
-- Name: ytd_income_v; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.ytd_income_v AS
 SELECT (EXTRACT(year FROM t.date))::integer AS year,
    a.name AS income_account,
    sum(abs(tl.amount)) AS total_income
   FROM (((public.transaction_lines tl
     JOIN public.transactions t ON ((t.id = tl.transaction_id)))
     JOIN public.accounts a ON ((a.id = tl.account_id)))
     JOIN public.account_types at ON ((at.id = a.account_type_id)))
  WHERE (((at.name)::text = 'income'::text) AND ((tl.purpose)::text = ANY ((ARRAY['business'::character varying, 'mixed'::character varying])::text[])))
  GROUP BY (EXTRACT(year FROM t.date)), a.name
  ORDER BY ((EXTRACT(year FROM t.date))::integer), a.name;


ALTER VIEW public.ytd_income_v OWNER TO postgres;

--
-- Name: account_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_types ALTER COLUMN id SET DEFAULT nextval('public.account_types_id_seq'::regclass);


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: deal_budget_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_budget_items ALTER COLUMN id SET DEFAULT nextval('public.deal_budget_items_id_seq'::regclass);


--
-- Name: installers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installers ALTER COLUMN id SET DEFAULT nextval('public.installers_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: lead_sources id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources ALTER COLUMN id SET DEFAULT nextval('public.lead_sources_id_seq'::regclass);


--
-- Name: rehab_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rehab_categories ALTER COLUMN id SET DEFAULT nextval('public.rehab_categories_id_seq'::regclass);


--
-- Name: transaction_lines id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines ALTER COLUMN id SET DEFAULT nextval('public.transaction_lines_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: vendors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors ALTER COLUMN id SET DEFAULT nextval('public.vendors_id_seq'::regclass);


--
-- Name: account_types account_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_types
    ADD CONSTRAINT account_types_name_key UNIQUE (name);


--
-- Name: account_types account_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_types
    ADD CONSTRAINT account_types_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: deal_budget_items deal_budget_items_deal_id_rehab_category_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_budget_items
    ADD CONSTRAINT deal_budget_items_deal_id_rehab_category_id_key UNIQUE (deal_id, rehab_category_id);


--
-- Name: deal_budget_items deal_budget_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_budget_items
    ADD CONSTRAINT deal_budget_items_pkey PRIMARY KEY (id);


--
-- Name: installers installers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installers
    ADD CONSTRAINT installers_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: lead_sources lead_sources_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources
    ADD CONSTRAINT lead_sources_name_key UNIQUE (name);


--
-- Name: lead_sources lead_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources
    ADD CONSTRAINT lead_sources_pkey PRIMARY KEY (id);


--
-- Name: real_estate_deals real_estate_deals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_pkey PRIMARY KEY (id);


--
-- Name: rehab_categories rehab_categories_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rehab_categories
    ADD CONSTRAINT rehab_categories_code_key UNIQUE (code);


--
-- Name: rehab_categories rehab_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rehab_categories
    ADD CONSTRAINT rehab_categories_pkey PRIMARY KEY (id);


--
-- Name: transaction_lines transaction_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: vendors vendors_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_name_unique UNIQUE (name);


--
-- Name: vendors vendors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_pkey PRIMARY KEY (id);


--
-- Name: idx_deal_budget_items_deal; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_deal_budget_items_deal ON public.deal_budget_items USING btree (deal_id);


--
-- Name: idx_transaction_lines_rehab_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transaction_lines_rehab_category ON public.transaction_lines USING btree (rehab_category_id);


--
-- Name: real_estate_deals_address_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX real_estate_deals_address_key ON public.real_estate_deals USING btree (lower(address));


--
-- Name: real_estate_deals_asset_account_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX real_estate_deals_asset_account_idx ON public.real_estate_deals USING btree (asset_account_id);


--
-- Name: real_estate_deals_loan_account_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX real_estate_deals_loan_account_idx ON public.real_estate_deals USING btree (loan_account_id);


--
-- Name: real_estate_deals_type_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX real_estate_deals_type_status_idx ON public.real_estate_deals USING btree (type, status);


--
-- Name: transaction_lines_transaction_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transaction_lines_transaction_id_idx ON public.transaction_lines USING btree (transaction_id);


--
-- Name: transactions_date_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_date_id_idx ON public.transactions USING btree (date DESC, id DESC);


--
-- Name: transaction_lines update_transaction_timestamp_on_line_change; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_transaction_timestamp_on_line_change AFTER INSERT OR UPDATE ON public.transaction_lines FOR EACH ROW EXECUTE FUNCTION public.update_transaction_timestamp();


--
-- Name: accounts accounts_account_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_account_type_id_fkey FOREIGN KEY (account_type_id) REFERENCES public.account_types(id);


--
-- Name: deal_budget_items deal_budget_items_deal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_budget_items
    ADD CONSTRAINT deal_budget_items_deal_id_fkey FOREIGN KEY (deal_id) REFERENCES public.real_estate_deals(id) ON DELETE CASCADE;


--
-- Name: deal_budget_items deal_budget_items_rehab_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deal_budget_items
    ADD CONSTRAINT deal_budget_items_rehab_category_id_fkey FOREIGN KEY (rehab_category_id) REFERENCES public.rehab_categories(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_lead_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_lead_source_id_fkey FOREIGN KEY (lead_source_id) REFERENCES public.lead_sources(id);


--
-- Name: lead_sources lead_sources_marketing_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources
    ADD CONSTRAINT lead_sources_marketing_account_id_fkey FOREIGN KEY (marketing_account_id) REFERENCES public.accounts(id);


--
-- Name: real_estate_deals real_estate_deals_asset_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_asset_account_id_fkey FOREIGN KEY (asset_account_id) REFERENCES public.accounts(id) ON DELETE SET NULL;


--
-- Name: real_estate_deals real_estate_deals_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE SET NULL;


--
-- Name: real_estate_deals real_estate_deals_loan_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_loan_account_id_fkey FOREIGN KEY (loan_account_id) REFERENCES public.accounts(id) ON DELETE SET NULL;


--
-- Name: transaction_lines transaction_lines_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id);


--
-- Name: transaction_lines transaction_lines_installer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_installer_id_fkey FOREIGN KEY (installer_id) REFERENCES public.installers(id);


--
-- Name: transaction_lines transaction_lines_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: transaction_lines transaction_lines_lead_source_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_lead_source_fk FOREIGN KEY (lead_source_id) REFERENCES public.lead_sources(id);


--
-- Name: transaction_lines transaction_lines_lead_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_lead_source_id_fkey FOREIGN KEY (lead_source_id) REFERENCES public.lead_sources(id);


--
-- Name: transaction_lines transaction_lines_real_estate_deal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_real_estate_deal_id_fkey FOREIGN KEY (real_estate_deal_id) REFERENCES public.real_estate_deals(id) ON DELETE SET NULL;


--
-- Name: transaction_lines transaction_lines_rehab_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_rehab_category_id_fkey FOREIGN KEY (rehab_category_id) REFERENCES public.rehab_categories(id) ON DELETE SET NULL;


--
-- Name: transaction_lines transaction_lines_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transaction_lines transaction_lines_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: FUNCTION create_transaction(p_date date, p_description text, p_line1 json, p_line2 json); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json) TO anon;
GRANT ALL ON FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json) TO authenticated;
GRANT ALL ON FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json) TO service_role;


--
-- Name: FUNCTION create_transaction(p_date date, p_description text, p_line1 json, p_line2 json, p_purpose text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json, p_purpose text) TO anon;
GRANT ALL ON FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json, p_purpose text) TO authenticated;
GRANT ALL ON FUNCTION public.create_transaction(p_date date, p_description text, p_line1 json, p_line2 json, p_purpose text) TO service_role;


--
-- Name: FUNCTION create_transaction_multi(p_date date, p_description text, p_lines jsonb); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.create_transaction_multi(p_date date, p_description text, p_lines jsonb) TO anon;
GRANT ALL ON FUNCTION public.create_transaction_multi(p_date date, p_description text, p_lines jsonb) TO authenticated;
GRANT ALL ON FUNCTION public.create_transaction_multi(p_date date, p_description text, p_lines jsonb) TO service_role;


--
-- Name: FUNCTION create_transaction_multi(p_date date, p_description text, p_purpose text, p_lines jsonb); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.create_transaction_multi(p_date date, p_description text, p_purpose text, p_lines jsonb) TO anon;
GRANT ALL ON FUNCTION public.create_transaction_multi(p_date date, p_description text, p_purpose text, p_lines jsonb) TO authenticated;
GRANT ALL ON FUNCTION public.create_transaction_multi(p_date date, p_description text, p_purpose text, p_lines jsonb) TO service_role;


--
-- Name: FUNCTION delete_transaction(p_transaction_id bigint); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.delete_transaction(p_transaction_id bigint) TO anon;
GRANT ALL ON FUNCTION public.delete_transaction(p_transaction_id bigint) TO authenticated;
GRANT ALL ON FUNCTION public.delete_transaction(p_transaction_id bigint) TO service_role;


--
-- Name: FUNCTION insert_job_tx(p_job_id integer, p_date date, p_desc text, p_kind text, p_amount numeric); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.insert_job_tx(p_job_id integer, p_date date, p_desc text, p_kind text, p_amount numeric) TO anon;
GRANT ALL ON FUNCTION public.insert_job_tx(p_job_id integer, p_date date, p_desc text, p_kind text, p_amount numeric) TO authenticated;
GRANT ALL ON FUNCTION public.insert_job_tx(p_job_id integer, p_date date, p_desc text, p_kind text, p_amount numeric) TO service_role;


--
-- Name: FUNCTION mark_transaction_cleared(p_transaction_id integer, p_clicked_line_id integer, p_new_amount numeric, p_new_date date, p_new_description text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.mark_transaction_cleared(p_transaction_id integer, p_clicked_line_id integer, p_new_amount numeric, p_new_date date, p_new_description text) TO anon;
GRANT ALL ON FUNCTION public.mark_transaction_cleared(p_transaction_id integer, p_clicked_line_id integer, p_new_amount numeric, p_new_date date, p_new_description text) TO authenticated;
GRANT ALL ON FUNCTION public.mark_transaction_cleared(p_transaction_id integer, p_clicked_line_id integer, p_new_amount numeric, p_new_date date, p_new_description text) TO service_role;


--
-- Name: FUNCTION refresh_accounting_views(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.refresh_accounting_views() TO anon;
GRANT ALL ON FUNCTION public.refresh_accounting_views() TO authenticated;
GRANT ALL ON FUNCTION public.refresh_accounting_views() TO service_role;


--
-- Name: FUNCTION resolve_lead_source_id(p_lead text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.resolve_lead_source_id(p_lead text) TO anon;
GRANT ALL ON FUNCTION public.resolve_lead_source_id(p_lead text) TO authenticated;
GRANT ALL ON FUNCTION public.resolve_lead_source_id(p_lead text) TO service_role;


--
-- Name: FUNCTION update_transaction_timestamp(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_transaction_timestamp() TO anon;
GRANT ALL ON FUNCTION public.update_transaction_timestamp() TO authenticated;
GRANT ALL ON FUNCTION public.update_transaction_timestamp() TO service_role;


--
-- Name: TABLE account_types; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.account_types TO anon;
GRANT ALL ON TABLE public.account_types TO authenticated;
GRANT ALL ON TABLE public.account_types TO service_role;


--
-- Name: TABLE accounts; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.accounts TO anon;
GRANT ALL ON TABLE public.accounts TO authenticated;
GRANT ALL ON TABLE public.accounts TO service_role;


--
-- Name: TABLE transaction_lines; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.transaction_lines TO anon;
GRANT ALL ON TABLE public.transaction_lines TO authenticated;
GRANT ALL ON TABLE public.transaction_lines TO service_role;


--
-- Name: TABLE account_balances_v; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.account_balances_v TO anon;
GRANT ALL ON TABLE public.account_balances_v TO authenticated;
GRANT ALL ON TABLE public.account_balances_v TO service_role;


--
-- Name: SEQUENCE account_types_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.account_types_id_seq TO anon;
GRANT ALL ON SEQUENCE public.account_types_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.account_types_id_seq TO service_role;


--
-- Name: SEQUENCE accounts_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.accounts_id_seq TO anon;
GRANT ALL ON SEQUENCE public.accounts_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.accounts_id_seq TO service_role;


--
-- Name: TABLE transactions; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.transactions TO anon;
GRANT ALL ON TABLE public.transactions TO authenticated;
GRANT ALL ON TABLE public.transactions TO service_role;


--
-- Name: TABLE dashboard_last_30d; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.dashboard_last_30d TO anon;
GRANT ALL ON TABLE public.dashboard_last_30d TO authenticated;
GRANT ALL ON TABLE public.dashboard_last_30d TO service_role;


--
-- Name: TABLE deal_budget_items; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.deal_budget_items TO anon;
GRANT ALL ON TABLE public.deal_budget_items TO authenticated;
GRANT ALL ON TABLE public.deal_budget_items TO service_role;


--
-- Name: SEQUENCE deal_budget_items_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.deal_budget_items_id_seq TO anon;
GRANT ALL ON SEQUENCE public.deal_budget_items_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.deal_budget_items_id_seq TO service_role;


--
-- Name: TABLE installers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.installers TO anon;
GRANT ALL ON TABLE public.installers TO authenticated;
GRANT ALL ON TABLE public.installers TO service_role;


--
-- Name: TABLE installer_payments_view; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.installer_payments_view TO anon;
GRANT ALL ON TABLE public.installer_payments_view TO authenticated;
GRANT ALL ON TABLE public.installer_payments_view TO service_role;


--
-- Name: SEQUENCE installers_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.installers_id_seq TO anon;
GRANT ALL ON SEQUENCE public.installers_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.installers_id_seq TO service_role;


--
-- Name: TABLE jobs; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.jobs TO anon;
GRANT ALL ON TABLE public.jobs TO authenticated;
GRANT ALL ON TABLE public.jobs TO service_role;


--
-- Name: SEQUENCE jobs_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.jobs_id_seq TO anon;
GRANT ALL ON SEQUENCE public.jobs_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.jobs_id_seq TO service_role;


--
-- Name: TABLE lead_sources; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.lead_sources TO anon;
GRANT ALL ON TABLE public.lead_sources TO authenticated;
GRANT ALL ON TABLE public.lead_sources TO service_role;


--
-- Name: SEQUENCE lead_sources_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.lead_sources_id_seq TO anon;
GRANT ALL ON SEQUENCE public.lead_sources_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.lead_sources_id_seq TO service_role;


--
-- Name: TABLE vendors; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.vendors TO anon;
GRANT ALL ON TABLE public.vendors TO authenticated;
GRANT ALL ON TABLE public.vendors TO service_role;


--
-- Name: TABLE ledger_full_v; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.ledger_full_v TO anon;
GRANT ALL ON TABLE public.ledger_full_v TO authenticated;
GRANT ALL ON TABLE public.ledger_full_v TO service_role;


--
-- Name: TABLE pending_transactions_v; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.pending_transactions_v TO anon;
GRANT ALL ON TABLE public.pending_transactions_v TO authenticated;
GRANT ALL ON TABLE public.pending_transactions_v TO service_role;


--
-- Name: TABLE real_estate_deals; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.real_estate_deals TO anon;
GRANT ALL ON TABLE public.real_estate_deals TO authenticated;
GRANT ALL ON TABLE public.real_estate_deals TO service_role;


--
-- Name: SEQUENCE real_estate_deals_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.real_estate_deals_id_seq TO anon;
GRANT ALL ON SEQUENCE public.real_estate_deals_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.real_estate_deals_id_seq TO service_role;


--
-- Name: TABLE rehab_categories; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.rehab_categories TO anon;
GRANT ALL ON TABLE public.rehab_categories TO authenticated;
GRANT ALL ON TABLE public.rehab_categories TO service_role;


--
-- Name: SEQUENCE rehab_categories_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.rehab_categories_id_seq TO anon;
GRANT ALL ON SEQUENCE public.rehab_categories_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.rehab_categories_id_seq TO service_role;


--
-- Name: SEQUENCE transaction_lines_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.transaction_lines_id_seq TO anon;
GRANT ALL ON SEQUENCE public.transaction_lines_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.transaction_lines_id_seq TO service_role;


--
-- Name: SEQUENCE transactions_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.transactions_id_seq TO anon;
GRANT ALL ON SEQUENCE public.transactions_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.transactions_id_seq TO service_role;


--
-- Name: SEQUENCE vendors_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.vendors_id_seq TO anon;
GRANT ALL ON SEQUENCE public.vendors_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.vendors_id_seq TO service_role;


--
-- Name: TABLE ytd_expense_v; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.ytd_expense_v TO anon;
GRANT ALL ON TABLE public.ytd_expense_v TO authenticated;
GRANT ALL ON TABLE public.ytd_expense_v TO service_role;


--
-- Name: TABLE ytd_income_v; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.ytd_income_v TO anon;
GRANT ALL ON TABLE public.ytd_income_v TO authenticated;
GRANT ALL ON TABLE public.ytd_income_v TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict wtflNXDPLME5UClJ8YhUbF8crF8WsUk297AE5f7udH3vm01VThqRVJudM38uTqZ

