--
-- PostgreSQL database dump
--

\restrict 5UvQfqtd7Bm9hlbkZY0AT0WIqStBATBwTrFlctTxL4XVJgughM2pUab0brLUypH

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_types (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    normal_side character varying(6) NOT NULL
);


ALTER TABLE public.account_types OWNER TO postgres;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(20),
    account_type_id integer NOT NULL,
    is_active boolean DEFAULT true,
    purpose_default text DEFAULT 'business'::text,
    CONSTRAINT accounts_purpose_default_check CHECK ((purpose_default = ANY (ARRAY['business'::text, 'personal'::text, 'mixed'::text])))
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: transaction_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transaction_lines (
    id integer NOT NULL,
    transaction_id integer NOT NULL,
    account_id integer NOT NULL,
    amount numeric(12,2) NOT NULL,
    job_id integer,
    installer_id integer,
    vendor_id integer,
    purpose character varying(20) DEFAULT 'business'::character varying NOT NULL,
    is_cleared boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    lead_source_id integer,
    real_estate_deal_id integer,
    rehab_category_id integer,
    cost_type character varying(1),
    CONSTRAINT check_reasonable_amount CHECK ((abs(amount) < (10000000)::numeric)),
    CONSTRAINT purpose_chk CHECK (((purpose)::text = ANY ((ARRAY['business'::character varying, 'personal'::character varying, 'mixed'::character varying])::text[]))),
    CONSTRAINT transaction_lines_cost_type_check CHECK (((cost_type)::text = ANY ((ARRAY['L'::character varying, 'M'::character varying, 'S'::character varying])::text[])))
);


ALTER TABLE public.transaction_lines OWNER TO postgres;

--
-- Name: COLUMN transaction_lines.cost_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.transaction_lines.cost_type IS 'L=Labor, M=Material, S=Service/Other';


--
-- Name: CONSTRAINT check_reasonable_amount ON transaction_lines; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON CONSTRAINT check_reasonable_amount ON public.transaction_lines IS 'Prevents accidentally entering absurdly large amounts like $10,000,000 when you meant $1,000';


--
-- Name: account_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.account_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.account_types_id_seq OWNER TO postgres;

--
-- Name: account_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.account_types_id_seq OWNED BY public.account_types.id;


--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accounts_id_seq OWNER TO postgres;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id integer NOT NULL,
    date date NOT NULL,
    description character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT check_reasonable_date CHECK (((date >= '2000-01-01'::date) AND (date <= (CURRENT_DATE + '1 year'::interval))))
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: CONSTRAINT check_reasonable_date ON transactions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON CONSTRAINT check_reasonable_date ON public.transactions IS 'Prevents dates before year 2000 or more than 1 year in the future';


--
-- Name: installers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.installers (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100),
    company_name character varying(150),
    address text,
    tax_id character varying(50),
    phone character varying(50),
    email character varying(150),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.installers OWNER TO postgres;

--
-- Name: installers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.installers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.installers_id_seq OWNER TO postgres;

--
-- Name: installers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.installers_id_seq OWNED BY public.installers.id;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    address character varying(255),
    status character varying(20) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    lead_source_id integer,
    start_date date DEFAULT CURRENT_DATE,
    end_date date
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO postgres;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: lead_sources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lead_sources (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    nick_name character varying,
    marketing_account_id integer
);


ALTER TABLE public.lead_sources OWNER TO postgres;

--
-- Name: COLUMN lead_sources.nick_name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lead_sources.nick_name IS 'Lead Source Abbreviation';


--
-- Name: lead_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lead_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lead_sources_id_seq OWNER TO postgres;

--
-- Name: lead_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lead_sources_id_seq OWNED BY public.lead_sources.id;


--
-- Name: vendors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendors (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    contact_name character varying(150),
    address text,
    tax_id character varying(50),
    phone character varying(50),
    email character varying(150),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    nick_name character varying
);


ALTER TABLE public.vendors OWNER TO postgres;

--
-- Name: COLUMN vendors.nick_name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.vendors.nick_name IS 'Vendor Abbreviation';


--
-- Name: real_estate_deals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.real_estate_deals (
    id integer NOT NULL,
    type text NOT NULL,
    nickname text NOT NULL,
    address text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    purchase_price numeric(12,2),
    arv numeric(12,2),
    rehab_budget numeric(12,2),
    rehab_spent numeric(12,2),
    closing_costs_estimate numeric(12,2),
    sale_price numeric(12,2),
    expected_assignment_fee numeric(12,2),
    actual_assignment_fee numeric(12,2),
    rental_monthly_rent numeric(12,2),
    rental_monthly_mortgage numeric(12,2),
    rental_monthly_taxes numeric(12,2),
    rental_monthly_insurance numeric(12,2),
    rental_monthly_hoa numeric(12,2),
    offer_strategy_json jsonb,
    notes text,
    start_date date,
    close_date date,
    sell_date date,
    job_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    asset_account_id integer,
    loan_account_id integer,
    interest_rate numeric(5,3),
    loan_term_months integer,
    original_loan_amount numeric(12,2),
    first_payment_date date,
    CONSTRAINT real_estate_deals_status_check CHECK ((status = ANY (ARRAY['active'::text, 'in_contract'::text, 'rehab'::text, 'stabilized'::text, 'sold'::text, 'failed'::text]))),
    CONSTRAINT real_estate_deals_type_check CHECK ((type = ANY (ARRAY['rental'::text, 'flip'::text, 'wholesale'::text])))
);


ALTER TABLE public.real_estate_deals OWNER TO postgres;

--
-- Name: real_estate_deals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.real_estate_deals ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.real_estate_deals_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transaction_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transaction_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transaction_lines_id_seq OWNER TO postgres;

--
-- Name: transaction_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transaction_lines_id_seq OWNED BY public.transaction_lines.id;


--
-- Name: transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.transactions_id_seq OWNER TO postgres;

--
-- Name: transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.transactions_id_seq OWNED BY public.transactions.id;


--
-- Name: vendors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vendors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vendors_id_seq OWNER TO postgres;

--
-- Name: vendors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vendors_id_seq OWNED BY public.vendors.id;


--
-- Name: account_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_types ALTER COLUMN id SET DEFAULT nextval('public.account_types_id_seq'::regclass);


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: installers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installers ALTER COLUMN id SET DEFAULT nextval('public.installers_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: lead_sources id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources ALTER COLUMN id SET DEFAULT nextval('public.lead_sources_id_seq'::regclass);


--
-- Name: transaction_lines id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines ALTER COLUMN id SET DEFAULT nextval('public.transaction_lines_id_seq'::regclass);


--
-- Name: transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions ALTER COLUMN id SET DEFAULT nextval('public.transactions_id_seq'::regclass);


--
-- Name: vendors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors ALTER COLUMN id SET DEFAULT nextval('public.vendors_id_seq'::regclass);


--
-- Name: account_types account_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_types
    ADD CONSTRAINT account_types_name_key UNIQUE (name);


--
-- Name: account_types account_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_types
    ADD CONSTRAINT account_types_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: installers installers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.installers
    ADD CONSTRAINT installers_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: lead_sources lead_sources_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources
    ADD CONSTRAINT lead_sources_name_key UNIQUE (name);


--
-- Name: lead_sources lead_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources
    ADD CONSTRAINT lead_sources_pkey PRIMARY KEY (id);


--
-- Name: real_estate_deals real_estate_deals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_pkey PRIMARY KEY (id);


--
-- Name: transaction_lines transaction_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: vendors vendors_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_name_unique UNIQUE (name);


--
-- Name: vendors vendors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_pkey PRIMARY KEY (id);


--
-- Name: idx_transaction_lines_rehab_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transaction_lines_rehab_category ON public.transaction_lines USING btree (rehab_category_id);


--
-- Name: real_estate_deals_address_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX real_estate_deals_address_key ON public.real_estate_deals USING btree (lower(address));


--
-- Name: real_estate_deals_asset_account_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX real_estate_deals_asset_account_idx ON public.real_estate_deals USING btree (asset_account_id);


--
-- Name: real_estate_deals_loan_account_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX real_estate_deals_loan_account_idx ON public.real_estate_deals USING btree (loan_account_id);


--
-- Name: real_estate_deals_type_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX real_estate_deals_type_status_idx ON public.real_estate_deals USING btree (type, status);


--
-- Name: transaction_lines_transaction_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transaction_lines_transaction_id_idx ON public.transaction_lines USING btree (transaction_id);


--
-- Name: transactions_date_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX transactions_date_id_idx ON public.transactions USING btree (date DESC, id DESC);


--
-- Name: transaction_lines update_transaction_timestamp_on_line_change; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_transaction_timestamp_on_line_change AFTER INSERT OR UPDATE ON public.transaction_lines FOR EACH ROW EXECUTE FUNCTION public.update_transaction_timestamp();


--
-- Name: accounts accounts_account_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_account_type_id_fkey FOREIGN KEY (account_type_id) REFERENCES public.account_types(id);


--
-- Name: jobs jobs_lead_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_lead_source_id_fkey FOREIGN KEY (lead_source_id) REFERENCES public.lead_sources(id);


--
-- Name: lead_sources lead_sources_marketing_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lead_sources
    ADD CONSTRAINT lead_sources_marketing_account_id_fkey FOREIGN KEY (marketing_account_id) REFERENCES public.accounts(id);


--
-- Name: real_estate_deals real_estate_deals_asset_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_asset_account_id_fkey FOREIGN KEY (asset_account_id) REFERENCES public.accounts(id) ON DELETE SET NULL;


--
-- Name: real_estate_deals real_estate_deals_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE SET NULL;


--
-- Name: real_estate_deals real_estate_deals_loan_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.real_estate_deals
    ADD CONSTRAINT real_estate_deals_loan_account_id_fkey FOREIGN KEY (loan_account_id) REFERENCES public.accounts(id) ON DELETE SET NULL;


--
-- Name: transaction_lines transaction_lines_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.accounts(id);


--
-- Name: transaction_lines transaction_lines_installer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_installer_id_fkey FOREIGN KEY (installer_id) REFERENCES public.installers(id);


--
-- Name: transaction_lines transaction_lines_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: transaction_lines transaction_lines_lead_source_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_lead_source_fk FOREIGN KEY (lead_source_id) REFERENCES public.lead_sources(id);


--
-- Name: transaction_lines transaction_lines_lead_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_lead_source_id_fkey FOREIGN KEY (lead_source_id) REFERENCES public.lead_sources(id);


--
-- Name: transaction_lines transaction_lines_real_estate_deal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_real_estate_deal_id_fkey FOREIGN KEY (real_estate_deal_id) REFERENCES public.real_estate_deals(id) ON DELETE SET NULL;


--
-- Name: transaction_lines transaction_lines_rehab_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_rehab_category_id_fkey FOREIGN KEY (rehab_category_id) REFERENCES public.rehab_categories(id) ON DELETE SET NULL;


--
-- Name: transaction_lines transaction_lines_transaction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_transaction_id_fkey FOREIGN KEY (transaction_id) REFERENCES public.transactions(id) ON DELETE CASCADE;


--
-- Name: transaction_lines transaction_lines_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transaction_lines
    ADD CONSTRAINT transaction_lines_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: TABLE account_types; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.account_types TO anon;
GRANT ALL ON TABLE public.account_types TO authenticated;
GRANT ALL ON TABLE public.account_types TO service_role;


--
-- Name: TABLE accounts; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.accounts TO anon;
GRANT ALL ON TABLE public.accounts TO authenticated;
GRANT ALL ON TABLE public.accounts TO service_role;


--
-- Name: TABLE transaction_lines; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.transaction_lines TO anon;
GRANT ALL ON TABLE public.transaction_lines TO authenticated;
GRANT ALL ON TABLE public.transaction_lines TO service_role;


--
-- Name: SEQUENCE account_types_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.account_types_id_seq TO anon;
GRANT ALL ON SEQUENCE public.account_types_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.account_types_id_seq TO service_role;


--
-- Name: SEQUENCE accounts_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.accounts_id_seq TO anon;
GRANT ALL ON SEQUENCE public.accounts_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.accounts_id_seq TO service_role;


--
-- Name: TABLE transactions; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.transactions TO anon;
GRANT ALL ON TABLE public.transactions TO authenticated;
GRANT ALL ON TABLE public.transactions TO service_role;


--
-- Name: TABLE installers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.installers TO anon;
GRANT ALL ON TABLE public.installers TO authenticated;
GRANT ALL ON TABLE public.installers TO service_role;


--
-- Name: SEQUENCE installers_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.installers_id_seq TO anon;
GRANT ALL ON SEQUENCE public.installers_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.installers_id_seq TO service_role;


--
-- Name: TABLE jobs; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.jobs TO anon;
GRANT ALL ON TABLE public.jobs TO authenticated;
GRANT ALL ON TABLE public.jobs TO service_role;


--
-- Name: SEQUENCE jobs_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.jobs_id_seq TO anon;
GRANT ALL ON SEQUENCE public.jobs_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.jobs_id_seq TO service_role;


--
-- Name: TABLE lead_sources; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.lead_sources TO anon;
GRANT ALL ON TABLE public.lead_sources TO authenticated;
GRANT ALL ON TABLE public.lead_sources TO service_role;


--
-- Name: SEQUENCE lead_sources_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.lead_sources_id_seq TO anon;
GRANT ALL ON SEQUENCE public.lead_sources_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.lead_sources_id_seq TO service_role;


--
-- Name: TABLE vendors; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.vendors TO anon;
GRANT ALL ON TABLE public.vendors TO authenticated;
GRANT ALL ON TABLE public.vendors TO service_role;


--
-- Name: TABLE real_estate_deals; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.real_estate_deals TO anon;
GRANT ALL ON TABLE public.real_estate_deals TO authenticated;
GRANT ALL ON TABLE public.real_estate_deals TO service_role;


--
-- Name: SEQUENCE real_estate_deals_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.real_estate_deals_id_seq TO anon;
GRANT ALL ON SEQUENCE public.real_estate_deals_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.real_estate_deals_id_seq TO service_role;


--
-- Name: SEQUENCE transaction_lines_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.transaction_lines_id_seq TO anon;
GRANT ALL ON SEQUENCE public.transaction_lines_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.transaction_lines_id_seq TO service_role;


--
-- Name: SEQUENCE transactions_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.transactions_id_seq TO anon;
GRANT ALL ON SEQUENCE public.transactions_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.transactions_id_seq TO service_role;


--
-- Name: SEQUENCE vendors_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.vendors_id_seq TO anon;
GRANT ALL ON SEQUENCE public.vendors_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.vendors_id_seq TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict 5UvQfqtd7Bm9hlbkZY0AT0WIqStBATBwTrFlctTxL4XVJgughM2pUab0brLUypH

