--
-- PostgreSQL database dump
--

\restrict 2uLkxHf8FKxbacNku3BJLHRR6iaFAq3Cw6N3YmQYoETemqcwISwcLYRQ6W0c9QG

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: account_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_types (id, name, normal_side) FROM stdin;
1	asset	debit
2	liability	credit
3	equity	credit
4	income	credit
5	expense	debit
\.


--
-- Name: account_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_types_id_seq', 7, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 2uLkxHf8FKxbacNku3BJLHRR6iaFAq3Cw6N3YmQYoETemqcwISwcLYRQ6W0c9QG

--
-- PostgreSQL database dump
--

\restrict I5feWNwPaSgWuc0CGscPwMKLApHE70EEXzHg0Z9KGLeQtbHrqCh3nPf11aOKS3e

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_id_seq', 92, true);


--
-- PostgreSQL database dump complete
--

\unrestrict I5feWNwPaSgWuc0CGscPwMKLApHE70EEXzHg0Z9KGLeQtbHrqCh3nPf11aOKS3e

--
-- PostgreSQL database dump
--

\restrict ZI5lSXp6oOLXgzQuJLlBUaXXVRarJJYgPEKptM4VkrdcASddcM3TP6FP8znGjCz

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: lead_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: lead_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_sources_id_seq', 17, true);


--
-- PostgreSQL database dump complete
--

\unrestrict ZI5lSXp6oOLXgzQuJLlBUaXXVRarJJYgPEKptM4VkrdcASddcM3TP6FP8znGjCz

--
-- PostgreSQL database dump
--

\restrict QPRzIu0HBiV2IfH7UMqyEZ6vB0IeC1S0UWf0S3emDBkCLNcuzbk36VoqD2zUl59

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: vendors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vendors_id_seq', 36, true);


--
-- PostgreSQL database dump complete
--

\unrestrict QPRzIu0HBiV2IfH7UMqyEZ6vB0IeC1S0UWf0S3emDBkCLNcuzbk36VoqD2zUl59

--
-- PostgreSQL database dump
--

\restrict Jhh4EkToyjX6r045ykIWv2DcJkXSmRxMHpUQJX4OONY1WKLH6LyQMDLLUqMydv1

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: installers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: installers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.installers_id_seq', 30, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Jhh4EkToyjX6r045ykIWv2DcJkXSmRxMHpUQJX4OONY1WKLH6LyQMDLLUqMydv1

--
-- PostgreSQL database dump
--

\restrict joZqSghajEcUl1Sednar1kjuQ1mhk0QhTzPq3eWKRkfgiApMPQQPeBYQSe5eOpc

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_id_seq', 117, true);


--
-- PostgreSQL database dump complete
--

\unrestrict joZqSghajEcUl1Sednar1kjuQ1mhk0QhTzPq3eWKRkfgiApMPQQPeBYQSe5eOpc

--
-- PostgreSQL database dump
--

\restrict d3r3ONAYJnTjAqIefXd5frtzeHoADYUiEaStCSnzFVz2cy25RKNU9fAqPxZgTaE

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: real_estate_deals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: real_estate_deals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.real_estate_deals_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict d3r3ONAYJnTjAqIefXd5frtzeHoADYUiEaStCSnzFVz2cy25RKNU9fAqPxZgTaE

--
-- PostgreSQL database dump
--

\restrict dfJqTh8DkUS5lnPlejY2ax2jm5essmOFEE0Ne2kLC7fvPcp8ticegZpnOOWxEuq

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_id_seq', 2356, true);


--
-- PostgreSQL database dump complete
--

\unrestrict dfJqTh8DkUS5lnPlejY2ax2jm5essmOFEE0Ne2kLC7fvPcp8ticegZpnOOWxEuq

--
-- PostgreSQL database dump
--

\restrict v6RQF2PohQGaMCkcIVIREDnhlGdsAVbTTdqpzMoBKc7O8hwqiW7vPBCHLVRRkdW

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: transaction_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: transaction_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transaction_lines_id_seq', 4723, true);


--
-- PostgreSQL database dump complete
--

\unrestrict v6RQF2PohQGaMCkcIVIREDnhlGdsAVbTTdqpzMoBKc7O8hwqiW7vPBCHLVRRkdW

