--
-- PostgreSQL database dump
--

\restrict hOH5K2TzvqbVQIx1TXnhYSZmDbMOaqmxZaewZncPDxYnZdvEYeMCdhWjhGr4XOC

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: account_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_types (id, name, normal_side) FROM stdin;
1	asset	debit
2	liability	credit
3	equity	credit
4	income	credit
5	expense	debit
\.


--
-- Name: account_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_types_id_seq', 7, true);


--
-- PostgreSQL database dump complete
--

\unrestrict hOH5K2TzvqbVQIx1TXnhYSZmDbMOaqmxZaewZncPDxYnZdvEYeMCdhWjhGr4XOC

--
-- PostgreSQL database dump
--

\restrict Jhh9fFaaKEpdSlnor6cQs4vocWpcX0OWYJqvQ4V1czTUA2GJxlra4UljEd0Nefl

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_id_seq', 92, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Jhh9fFaaKEpdSlnor6cQs4vocWpcX0OWYJqvQ4V1czTUA2GJxlra4UljEd0Nefl

--
-- PostgreSQL database dump
--

\restrict IZhp4oJkBhHtNSBepO3UqDvviQjZpapR2Etp77OlUtO2y20z3wBBgm22UACYije

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: lead_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: lead_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_sources_id_seq', 17, true);


--
-- PostgreSQL database dump complete
--

\unrestrict IZhp4oJkBhHtNSBepO3UqDvviQjZpapR2Etp77OlUtO2y20z3wBBgm22UACYije

--
-- PostgreSQL database dump
--

\restrict bBBM4dxU9MrPyOSXahciNvRPctSG2fZ4dKdiTZewz5cIEWMMUIRpUNCpu6sAjBL

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: vendors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vendors_id_seq', 36, true);


--
-- PostgreSQL database dump complete
--

\unrestrict bBBM4dxU9MrPyOSXahciNvRPctSG2fZ4dKdiTZewz5cIEWMMUIRpUNCpu6sAjBL

--
-- PostgreSQL database dump
--

\restrict ot4cWKWkCxKdt8HefaZcxzmB9AzakO087xxbJkuHS14CyyejFjT2y495QwUf8hZ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: installers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: installers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.installers_id_seq', 30, true);


--
-- PostgreSQL database dump complete
--

\unrestrict ot4cWKWkCxKdt8HefaZcxzmB9AzakO087xxbJkuHS14CyyejFjT2y495QwUf8hZ

--
-- PostgreSQL database dump
--

\restrict EU8eUxW9oneiWCDe1DC4ybi161I9VHj2vUSihYxwa7iTSpf4YXMFpWmVj71nFKu

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_id_seq', 117, true);


--
-- PostgreSQL database dump complete
--

\unrestrict EU8eUxW9oneiWCDe1DC4ybi161I9VHj2vUSihYxwa7iTSpf4YXMFpWmVj71nFKu

--
-- PostgreSQL database dump
--

\restrict edhqIpNU02FFgn0fbmBDrEBqMlChHyh2cRDOgp3ta8yAo6zUQLz5VPAtUhTiVzk

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: real_estate_deals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: real_estate_deals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.real_estate_deals_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict edhqIpNU02FFgn0fbmBDrEBqMlChHyh2cRDOgp3ta8yAo6zUQLz5VPAtUhTiVzk

--
-- PostgreSQL database dump
--

\restrict MA7nhGSK7WXI9DAhdZbAHFLuPkSfrlNsxeZQo718621AEVOApJAdw8A114AjuPb

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_id_seq', 2368, true);


--
-- PostgreSQL database dump complete
--

\unrestrict MA7nhGSK7WXI9DAhdZbAHFLuPkSfrlNsxeZQo718621AEVOApJAdw8A114AjuPb

--
-- PostgreSQL database dump
--

\restrict D0dVL783wRIxs4OQxb0Ygg99tPSsjjzumS0kSAJRnP32kFTUW3kDQSQ6525o1zo

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: transaction_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: transaction_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transaction_lines_id_seq', 4771, true);


--
-- PostgreSQL database dump complete
--

\unrestrict D0dVL783wRIxs4OQxb0Ygg99tPSsjjzumS0kSAJRnP32kFTUW3kDQSQ6525o1zo

