--
-- PostgreSQL database dump
--

\restrict Ygl0hgZndBjiqN3zkTevuFLvoeyPOdJP9qHjDr5Qc2mDNh46dgHcDJSlxAJYxvR

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: account_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_types (id, name, normal_side) FROM stdin;
1	asset	debit
2	liability	credit
3	equity	credit
4	income	credit
5	expense	debit
\.


--
-- Name: account_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_types_id_seq', 7, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Ygl0hgZndBjiqN3zkTevuFLvoeyPOdJP9qHjDr5Qc2mDNh46dgHcDJSlxAJYxvR

--
-- PostgreSQL database dump
--

\restrict 1HtEpq79z4lLc28swItdxMZxCie3yDuujc6hyLXh2e7aAjHbPyHTSHTHZ1TsRAE

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_id_seq', 88, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 1HtEpq79z4lLc28swItdxMZxCie3yDuujc6hyLXh2e7aAjHbPyHTSHTHZ1TsRAE

--
-- PostgreSQL database dump
--

\restrict B6kkYVaFLtj3tYfZvW5CtYSbQLXGFlrIcxQbUpSDmH3ST4Qk2F1alTDb2eBsA5r

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: lead_sources; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: lead_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lead_sources_id_seq', 15, true);


--
-- PostgreSQL database dump complete
--

\unrestrict B6kkYVaFLtj3tYfZvW5CtYSbQLXGFlrIcxQbUpSDmH3ST4Qk2F1alTDb2eBsA5r

--
-- PostgreSQL database dump
--

\restrict dh9k0RIATwmC8XpdfVvtRQnw1LMBbXNqfKrbKo3LntZKpesxpBs0dwP4Agh4YTP

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: vendors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vendors_id_seq', 20, true);


--
-- PostgreSQL database dump complete
--

\unrestrict dh9k0RIATwmC8XpdfVvtRQnw1LMBbXNqfKrbKo3LntZKpesxpBs0dwP4Agh4YTP

--
-- PostgreSQL database dump
--

\restrict i1GCKxypsocXeIOAheXT4AP15uewQ4tQFdj3EcDxqUf8lRm9hdoyC6ylzhvSRDG

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: installers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: installers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.installers_id_seq', 20, true);


--
-- PostgreSQL database dump complete
--

\unrestrict i1GCKxypsocXeIOAheXT4AP15uewQ4tQFdj3EcDxqUf8lRm9hdoyC6ylzhvSRDG

--
-- PostgreSQL database dump
--

\restrict 3REPvda0ArVuHttHkeFAa9p3cKsIXQXRv8y8wjYuMHd4qo9HM1lbSlKuPRrOJ1M

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_id_seq', 117, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 3REPvda0ArVuHttHkeFAa9p3cKsIXQXRv8y8wjYuMHd4qo9HM1lbSlKuPRrOJ1M

--
-- PostgreSQL database dump
--

\restrict rLvdQrCaOs5s4qmLieB6FDt5jHN64WNcbHv6bTcHFtf1pc0zvEg4N3Uf3aiEmFr

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: real_estate_deals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: real_estate_deals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.real_estate_deals_id_seq', 2, true);


--
-- PostgreSQL database dump complete
--

\unrestrict rLvdQrCaOs5s4qmLieB6FDt5jHN64WNcbHv6bTcHFtf1pc0zvEg4N3Uf3aiEmFr

--
-- PostgreSQL database dump
--

\restrict eo8wWQJoHa7bAtch6ahgoe4iZ8ybF0uYsNsfCZ4KQ6Qxv3ljuQcKitdWbGIDesm

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transactions_id_seq', 1753, true);


--
-- PostgreSQL database dump complete
--

\unrestrict eo8wWQJoHa7bAtch6ahgoe4iZ8ybF0uYsNsfCZ4KQ6Qxv3ljuQcKitdWbGIDesm

--
-- PostgreSQL database dump
--

\restrict XXG9FbjhPhYWvYztX36yTUKaGRnybzU3CgD2H4BYRocAKfv1k1JJHy5hCzFJRnJ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: transaction_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: transaction_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transaction_lines_id_seq', 3517, true);


--
-- PostgreSQL database dump complete
--

\unrestrict XXG9FbjhPhYWvYztX36yTUKaGRnybzU3CgD2H4BYRocAKfv1k1JJHy5hCzFJRnJ

